/* 오늘 날짜 스타일 */
.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
}

.rdp-months {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* 활성화 && 선택되지 않은 버튼의 hover */
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  border: 1px solid #5373ff;
  transition: all 0.2s;
}

/* 선택된 날짜 */
.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: var(--rdp-selected-color);
  opacity: 1;
  background-color: #5373ff;
}
