/* 컨테이너 */
.rdp {
  --rdp-cell-size: 40px; /* Size of the day cells. */
  --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
  --rdp-accent-color: #0000ff; /* Accent color for the background of selected days. */
  --rdp-background-color: #e7edff; /* Background color for the hovered/focused elements. */
  --rdp-accent-color-dark: #3003e1; /* Accent color for the background of selected days (to use in dark-mode). */
  --rdp-background-color-dark: #180270; /* Background color for the hovered/focused elements (to use in dark-mode). */
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */
  --rdp-selected-color: #fff; /* Color of selected day text */

  margin: 0;
}

/* 오늘 날짜 스타일 */
.rdp-day_today:not(.rdp-day_outside) {
  font-weight: bold;
  font-color: #6c5ff7;
}

.rdp-months {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

/* 활성화 && 선택되지 않은 버튼의 hover */
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  border: 1px solid #6c5ff7;
  transition: all 0.2s;
  background-color: #f9f5ff;
}

/* 선택된 날짜 */
.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: var(--rdp-selected-color);
  opacity: 1;
  background-color: #6c5ff7;
}

/* 비활성화된 날짜 */
.rdp-button[disabled]:not(.rdp-day_selected) {
  opacity: 0.25;
}
