.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 38%;
  min-width: 0;
  margin-right: 5px;
  padding: 8px;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 23%;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 24%;
    margin-right: 20px;
  }
}

@media (min-width: 1536px) {
  .embla__slide {
    flex: 0 0 20%;
    margin-right: 20px;
  }
}

/*
@media (min-width: 1920px) {
  .embla__slide {
    flex: 0 0 15%;
    margin-right: 20px;
  }
}
*/
