.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 45%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 24%;
  }
}

@media (min-width: 1536px) {
  .embla__slide {
    flex: 0 0 20%;
  }
}
