@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.label-field {
  @apply mt-3 block text-lg font-medium text-gray-700;
}

.input-field {
  @apply mt-1 block w-full border border-gray-300 bg-white py-2 px-3 shadow-sm focus:outline-none  focus:border-black sm:text-sm rounded-md;
}

.button-field {
  @apply mt-5 block w-full border mb-4 bg-point-color py-2 px-3 text-white text-center sm:text-sm rounded-full;
}

.button__border-field {
  @apply mt-5 block w-full border border-point-color mb-4 py-2 px-3 text-black text-center sm:text-sm rounded-full;
}

.socialIcon-field {
  @apply mt-2 w-full border border-point-color mb-2 py-2 px-3 text-white text-center sm:text-sm rounded-lg;
}
