@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
  margin: none;
}

/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
@media (max-width: 767px) {
  html {
    overflow-y: auto;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  .responsiveHeight {
    height: calc(100vh - 144px);
    /* overflow-y: auto; */
    scrollbar-width: none;
  }
}

@media (min-width: 768px) {
  .responsiveHeight {
    height: calc(100vh - 80px);
  }
  html {
    overflow-y: scroll;
    scrollbar-width: thin;
  }
  html::-webkit-scrollbar {
    display: block;
  }
}

.label-field {
  @apply mt-3 block text-lg font-medium text-gray-700;
}

.input-field {
  @apply mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 shadow-sm  focus:border-black focus:outline-none sm:text-sm;
}

.button-field {
  @apply mb-4 mt-5 block w-full rounded-full border bg-point-color px-3 py-2 text-center text-white sm:text-sm;
}

.button__border-field {
  @apply mb-4 mt-5 block w-full rounded-full border border-point-color px-3 py-2 text-center text-black sm:text-sm;
}

.socialIcon-field {
  @apply mb-2 mt-2 w-full rounded-lg border-2 border-white px-3 py-2 text-center text-white hover:border-2 sm:text-sm;
}
